@import "variables";

body {
  font-family: var(--font-family);
  font-weight: normal;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0 1rem 0;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  color: inherit;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
p {
  line-height: 1.5;
  margin: 0 0 1rem 0;
}

/*
 -- COMPONENTS COLOR ADJUSTMENTS
*/

.p-button {
  background-color: var(--primary-color);
  &:enabled:hover {
    background: var(--primary-color);
  }
}

.p-listbox {
  &:not(.p-disabled) {
    .p-listbox-item.p-highlight.p-focus {
      background: transparentize($color: $primaryColor, $amount: 0.93);
    }
  }
  &.p-focus {
    border-color: var(--primary-color);
  }
  .p-listbox-list {
    .p-listbox-item.p-highlight {
      color: var(--primary-color);
      background: transparentize($color: $primaryColor, $amount: 0.93);
    }
  }
}

/* 
.p-button.bg-primary, .p-button.bg-primary:hover, .p-button.bg-primary:active, .p-button.bg-primary:focus {
  background-color: var(--primary-color);
}

.p-button.bg-primary:hover, .p-button.bg-primary:focus {
  background-color: var(--primary-hover);
}

.p-button-text.bg-primary {
  color: var(--primary-color)!important;
  background-color: transparent;
}

.p-button-text.bg-primary:hover, .p-button-text.bg-primary:active, .p-button-text.bg-primary:focus {
  color: var(--primary-color);
  background-color: var(--primary-100)!important;
}

.p-inputtext:enabled:focus:not(.p-invalid) {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
  border-color: var(--primary-color);
  border-width: 2px;
}
*/



/**
  ============= DARK MODE ==============
*/

.dark {
  .p-listbox {
    $backgroundOpacity: 0.96;
    &:not(.p-disabled) {
      .p-listbox-item.p-highlight.p-focus {
        background: transparentize($color: $primaryColorDark, $amount: $backgroundOpacity);
      }
    }
    .p-listbox-list {
      .p-listbox-item.p-highlight {
        background: transparentize($color: $primaryColorDark, $amount: $backgroundOpacity);
      }
    }
  }
}
