:root {
  --guest-toolbar-height: 48px;
  --primary-color: #162C4F;
  --primary-100: #162C4F09
}

body {
  background-color: var(--surface-ground);
  font-family: var(--font-family);
  font-weight: normal;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 1rem 0;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  color: inherit;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }
p {
  line-height: 1.5;
  margin: 0 0 1rem 0;
}

.p-button.bg-primary, .p-button.bg-primary:hover, .p-button.bg-primary:active, .p-button.bg-primary:focus {
  background-color: var(--primary-color);
}

.p-button-text.bg-primary {
  color: var(--primary-color)!important;
  background-color: transparent;
}

.p-button-text.bg-primary:hover, .p-button-text.bg-primary:active, .p-button-text.bg-primary:focus {
  color: var(--primary-color);
  background-color: var(--primary-100)!important;
}

.p-inputtext:enabled:focus:not(.p-invalid) {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
  border-color: var(--primary-color);
  border-width: 2px;
}

.dbg-border {
  border: 1px solid red!important;
}

.h-calc-guest {
  height: calc(100vh - var(--guest-toolbar-height))
}